{% block content %}
  <center>
    {% for page in pages %}
        <a href="{{url_for(page)}}">
	<button type="button">{{page}}</button></a> &nbsp;&nbsp;
    {% endfor %}
  </center>

  {% block body %}
  {% endblock %}
		
{% endblock %}		

